app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: lscr.io/linuxserver/jellyfin
            tag: 10.11.6
  service:
    main:
      controller: main
      ports:
        http:
          port: 80
          targetPort: 8096
      type: LoadBalancer
      loadBalancerIP: 192.168.0.61
      annotations:
        tailscale.com/expose: "true"
        tailscale.com/hostname: "jellyfin"
  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      size: 1Gi
      globalMounts:
        - path: /config
      storageClass: local-path-ssd
      forceRename: jellyfin-config
    media:
      enabled: true
      type: persistentVolumeClaim
      existingClaim: "media"
      globalMounts:
        - path: /media
  probes:
    liveness:
      spec:
        exec:
          command:
            - /usr/bin/env
            - bash
            - -c
            - test -w /config/data/jellyfin.db
