app-template:
  defaultPodOptions:
    hostNetwork: true
    dnsPolicy: ClusterFirstWithHostNet
  controllers:
    main:
      containers:
        main:
          image:
            repository: registry.hub.docker.com/homeassistant/home-assistant
            tag: 2025.11
          securityContext:
            capabilities:
              add:
                - NET_RAW
                - CAP_SYS_ADMIN
    code-server:
      containers:
        code-server:
          image:
            repository: ghcr.io/coder/code-server
            tag: 4.106.3
          args:
            - --auth
            - "none"
            - --user-data-dir
            - "/config/.vscode"
            - extensions-dir
            - "/config/.vscode"
            - --port
            - "8081"
            - "/config"
  service:
    main:
      controller: main
      annotations:
        tailscale.com/expose: "true"
        tailscale.com/hostname: "home-assistant"
      ports:
        http:
          port: 80
          targetPort: 8123
      type: LoadBalancer
      loadBalancerIP: 192.168.0.63
    code-server:
      controller: code-server
      annotations:
        tailscale.com/expose: "true"
        tailscale.com/hostname: "home-assistant-code"
      ports:
        http:
          port: 80
          targetPort: 8081
  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      size: 1Gi
      storageClass: local-path-ssd
      globalMounts:
        - path: /config
      forceRename: home-assistant-config
    media-dummy:
      enabled: true
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      size: 1Gi
      storageClass: local-path-hdd
      globalMounts:
        - path: /media-dummy
