app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/flaresolverr/flaresolverr
            tag: v3.4.5
  service:
    main:
      controller: main
      ports:
        http:
          port: 8191
          targetPort: 8191
